/* Style for Accounts Rexrtie */
  
.title-cuenta-rextie {
  color: $color-prymary-one;
  font-weight: 800;
  display: inline-block;
}
  
.card-body {
  padding-bottom: $zero;
}
  
.height {
  min-height: 78%;
}
  
.transaction {
  margin-top: 3rem;
}
  
.margin-his {
  margin-top: 3.5rem;
}

@media (min-width: 768px) {
  .transaction {
    margin-top: 6rem;
  }
}