// colors

$color-prymary-one : #26A8E0;
$color-prymary-two: #7ace3b;
$color-secundary-one: #A2A2A2;
$color-secundary-two: #F6F9FC;
$color-gradient-one: #21cc8d;
$color-gradient-two: #b8b8b8;
$color-border-container:#ccc;
$color-font:#737476;

// font

$font-family: 'Nunito', sans-serif;

// others 
$zero: 0;
$pointer: pointer;