/* Global */

body {
  margin: 0;
  padding:0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

.padding {
  padding: 0;
}

/* Style for Side Nav */

.heigth {
  height: 100vh;
}

.container-list {
  list-style: none;
}

.container-icon {
  color: #7ace3b;
  font-size: 1.5rem;
}

.container-font {
  color: #737476;
  font-family: 'Nunito', sans-serif;
  font-family: 'Nunito', sans-serif;
}

.color-3 {
  color: #737476;
}

.my-sm-3 {
  margin: .5rem 0;
}

/* header */

.btn-off {
  padding: 1rem 1.2rem;
}

.btn-off .font-2x {
  font-size: 1.2rem;
}

.btn-success {
  background: linear-gradient(40deg,#7ACE3B, #21cc8d);
}

/* Main */

.heigth-min {
  min-height: 80vh;
}

/* transaction */
a.border-tab {
  color: #A2A2A2;  
}

a.border-tab.active{
  color: #7ACE3B;  
  border-bottom: 4px solid #7ACE3B;
}

.font-operator {
  font-size: 1.5rem;
}

.disabled-input {
  background-color: #F6F9FC;
}

.text-sm-center {
  text-align: center;
} 

/* Style for Main */

.container-main {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 85vh;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-left: 1px solid #ccc;
  height: 99.8vh;
  overflow: auto;
}

@media (min-width: 576px) { 
  .text-md-left {
    text-align: start;
  }
}

/*  USER INFORMATION  rgba(0,0,0,.16),*/

.card-border {
  border: 1px solid #F6F9FC;
  border-left: 8px solid #7ACE3B;
  border-radius: 0;
}

/* Style for My accounts */

.padding {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.border-botton {
  width: 11rem;
}

.font-size {
  font-size: 1rem;
}